In [1]:
%pip install selenium
%pip install webdriver-manager
%pip install beautifulsoup4

Requirement already satisfied: selenium in c:\users\alima\anaconda3\lib\site-packages (4.1.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: trio~=0.17 in c:\users\alima\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\alima\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alima\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\alima\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\alima\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\alima\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alima\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: webdriver-manager in c:\users\alima\anaconda3\lib\site-packages (3.5.4)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in c:\users\alima\anaconda3\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.2)

Requirement already satisfied: beautifulsoup4 in c:\users\alima\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\alima\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install fake-useragent

Requirement already satisfied: fake-useragent in c:\users\alima\anaconda3\lib\site-packages (0.1.11)
Note: you may need to restart the kernel to use updated packages.

In [74]:
from fake_useragent import UserAgent
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait as wait
from selenium.webdriver.support import expected_conditions as EC
import sys
import src
from src import wallapop as w


usuario=UserAgent().random

print(usuario)

Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2226.0 Safari/537.36

In [4]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH)

opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False
opciones.add_argument('--start-maximized')
#opciones.add_argument('--incognito')
#opciones.add_extension('driver/adblock.crx')       # adblocker


#opciones.add_argument('user-data-dir=selenium') 
#opciones.add_argument('proxy-server=5.152.175.13.2:2580')

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/100.0.4896.60/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\alima\.wdm\drivers\chromedriver\win32\100.0.4896.60]
C:\Users\alima\AppData\Local\Temp/ipykernel_13256/4228707673.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)

In [5]:
import  csv
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options

import numpy as np
from random import randint
import requests as req
import pandas as pd
import time
from time import sleep
from bs4 import BeautifulSoup as bs

In [ ]:
url='https://www.coches.net/'

In [ ]:
PATH=ChromeDriverManager().install()

## COCHES.com

In [73]:
from src.cochescom import *

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [C:\Users\alima\.wdm\drivers\chromedriver\win32\100.0.4896.60\chromedriver.exe] found in cache

In [31]:
coches=cochescom(100)

C:\Users\alima\AppData\Local\Temp/ipykernel_13256/2070866326.py:16: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)
C:\Users\alima\AppData\Local\Temp/ipykernel_13256/2070866326.py:19: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  cookies=driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')

In [77]:
coches.columns

Index([0, 1, 2, 'precio', 'combustible', 'CV', 'km', 'lugar', 'año', 'link'], dtype='object')

In [75]:
cursor.execute('drop table if exists coches;')



tabla='''

        create table coches (
            
            
            modelo varchar(200),
            precio varchar(200),
            description varchar(200),
            release_year int,
            language_id int,
            rental_duration int,
            rental_rate float,
             length int,
              replacement_cost float,
               rating varchar(50),
                special_features varchar(200),
            caracteristicas varchar(200)

            
        );

'''


cursor.execute(tabla)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'caracteristicas varchar(200)


        )' at line 15

In [ ]:
for i in range(len(coches)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('coches', ','.join(coches.columns), tuple(coches.iloc[i].values))
    
    
    insert_query=f"insert into coches ({','.join(coches.columns)}) values {tuple(coches.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()

In [ ]:

coches

## KAGGLE

In [40]:
import csv

In [42]:
#ith open(r'/data/coches-de-segunda-mano-sample.csv', newline='') as csvfile:
kaggle = pd.read_csv (r'data\coches-de-segunda-mano-sample.csv')
kaggle= pd.DataFrame(kaggle, columns= ['url','company','make','model','version','price','price_financed','fuel','year','doors','shift','color','photos','is_professional','dealer','province','country','publish_date','insert_date'])

In [86]:
kaggle

,url,company,make,model,version,price,price_financed,fuel,year,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
0,e158ae0ca53119ca199c28c36b5c2fcd,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,Toledo,SEAT Toledo 4p.,950,Unknown,Diésel,2000.0,4,Manual,Verde,5,False,0f4bb8455d27349b8273109b66a847f3,Navarra,Spain,2020-12-18 10:47:13,2021-01-15 00:00:00
1,ff267ebb7e700246f47f84f3db660b4b,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C1,CITROEN C1 PureTech 60KW 82CV Feel 5p.,6200,Unknown,Gasolina,2017.0,5,Manual,Blanco,6,True,Autos Raymara,Tenerife,Spain,2021-01-02 11:25:40,2021-01-15 00:00:00
2,de4b02db28ea7786c622b969be10c7c7,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit Connect,FORD Transit Connect Van 1.5 TDCi 100cv Ambien...,7851,7024.0,Diésel,2016.0,4,Manual,Blanco,10,True,Auto 96,Barcelona,Spain,2020-12-16 10:51:45,2021-01-15 00:00:00
3,0449972a4d07594acf92e9a7dd28b39c,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Caravelle,VOLKSWAGEN Caravelle Largo 2.0 TDI 140 Comfort...,19426,Unknown,Diésel,2014.0,4,Manual,Blanco,9,True,Inniauto,Navarra,Spain,2020-11-25 11:09:14,2021-01-15 00:00:00
4,12c4fa49bd4fdf23f19ecf396d3f02ef,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit,FORD Transit 350 96kW L4 Ambiente Propulsion T...,22850,22800.0,Diésel,2017.0,2,Manual,Blanco,4,True,"Autofleet España,s.l",Sevilla,Spain,2021-01-12 20:00:34,2021-01-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,730210734bfbe1d3df878d5df71246f2,9881bcdd5a0ad4733037b3fb25e69c3a,HYUNDAI,i30,HYUNDAI i30 1.4 TGDI Tecno Fastback DCT 5p.,18490,16490.0,Gasolina,2018.0,5,Automático,Gris / Plata,26,True,Flexicar Málaga,Málaga,Spain,2020-11-24 19:59:52,2021-01-15 00:00:00
49996,732b04fb47dd9559dbdcd099c5af484e,9881bcdd5a0ad4733037b3fb25e69c3a,RENAULT,Laguna,RENAULT Laguna Coupe Limited 2.0 Energy dCi 15...,14500,13551.0,Diésel,2015.0,2,Manual,KNG Gris Casiopea (metalizado),30,True,Ocasion Plus,Málaga,Spain,2021-01-13 17:02:41,2021-01-15 00:00:00
49997,c10afb53957fb8012707239bdfa66018,9881bcdd5a0ad4733037b3fb25e69c3a,PEUGEOT,108,PEUGEOT 108 TOP Allure VTi 52kW 72CV 5p.,11000,9000.0,Gasolina,2019.0,5,Manual,Gris / Plata,17,True,Psa Retail Huelva,Huelva,Spain,2021-01-08 16:47:24,2021-01-15 00:00:00
49998,f74363a6688ba11b71b4d980a959b8d3,9881bcdd5a0ad4733037b3fb25e69c3a,AUDI,RS4,AUDI RS4 Avant 4.2 FSI 450cv quattro 5p.,47900,Unknown,Gasolina,2013.0,5,Automático,Gris / Plata (Antracita),20,True,Codigocar Lugo,Lugo,Spain,2021-01-13 16:22:53,2021-01-15 00:00:00
49999,3d60801ccb96ef038747130e8a34ceda,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C2,CITROEN C2 1.4 HDI VTR Plus 3p.,2790,Unknown,Diésel,2006.0,3,Manual,Negro,21,True,AUTOVALENCIA 19,Barcelona,Spain,2021-01-10 16:32:41,2021-01-15 00:00:00

In [87]:
cursor.execute('drop table if exists kaggle;')



tabla='''

        create table kaggle (
            
            
            
            url varchar(200),
            company varchar(200),
            make varchar(200),
            model varchar(200),
            version varchar(200),
            
            price int,
            price_financed varchar(50),
            doors int,
            
               fuel varchar(50),
               year varchar(50),
               shift varchar(50),
               color varchar(200),
               
               photos int,
               is_professional bool,
                dealer varchar(200),
            province varchar(200),
            country varchar(200),
            publish_date datetime,
             insert_date datetime

            
        );

'''


cursor.execute(tabla)

In [88]:
for i in range(len(kaggle)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('kaggle', ','.join(kaggle.columns), tuple(kaggle.iloc[i].values))
    
    
    insert_query=f"insert into kaggle ({','.join(kaggle.columns)}) values {tuple(kaggle.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()

## WALLAPOP

In [72]:
from src.wallapop import *

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [C:\Users\alima\.wdm\drivers\chromedriver\win32\100.0.4896.60\chromedriver.exe] found in cache

In [11]:
#Separar combustible por el espacio y coger por elementos dentro del string para obtener las caracteristicas

In [12]:
df=wallapop(url2)
df

C:\Users\alima\AppData\Local\Temp/ipykernel_13256/357517729.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)
C:\Users\alima\AppData\Local\Temp/ipykernel_13256/357517729.py:7: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  cookies=driver.find_element_by_xpath('//*[@id="didomi-notice-agree-button"]')
C:\Users\alima\AppData\Local\Temp/ipykernel_13256/357517729.py:10: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  roll=driver.find_element_by_xpath('//*[@id="btn-load-more"]/button')

,modelo,precio,caracteristicas
0,BMW Serie 1 2014,12.995€,GasolinaManual136 cv201493034 km
1,SEAT Leon 1.5 TSI SANDS FR 110 kW (150 CV),22.250€,GasolinaManual150 cv202130124 km
2,BMW Serie 1 118d 110 kW (150 CV),21.720€,DiéselAutomático150 cv201838474 km
3,SEAT Leon ST 2.0 TDI Style Launch P Nav DSG 11...,22.250€,DiéselAutomático150 cv202023170 km
4,Audi A6 2014,14.500€,DiéselAutomático177 cv2014158000 km
...,...,...,...
3231,Mitsubishi Eclipse CROSS 150T Motion,22.990€,GasolinaManual163 cv201958000 km
3232,Citroen C4 Cactus 1.6 BlueHDI Shine 73 kW (100...,13.900€,DiéselManual100 cv201559326 km
3233,Ford Tourneo Connect 1.5TDCi 100CV Trend,17.490€,DiéselManual100 cv201795000 km
3234,Renault Captur Life dCi 66 kW (90 CV),14.200€,DiéselManual90 cv2018100835 km
3235,Volkswagen Caddy Kombi 2.0 TDI SCR BMT 4Motion...,16.100€,DiéselManual122 cv201574510 km

In [13]:
!pip install mysql-connector-python


import mysql.connector as conn

Requirement already satisfied: mysql-connector-python in c:\users\alima\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\alima\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.0)

In [ ]:
df

In [17]:
crea_db=conn.connect(host='localhost', user='adri', passwd='password')

cursor=crea_db.cursor()

cursor.execute('drop database if exists scrapeo;')
cursor.execute('create database scrapeo;')

db=conn.connect(host='localhost', user='adri', passwd='password', database='scrapeo')

cursor=db.cursor()

In [22]:


cursor.execute('drop table if exists df;')



tabla='''

        create table df (
            
            
            modelo varchar(200),
            precio varchar(200),
            
            caracteristicas varchar(200)

            
        );

'''


cursor.execute(tabla)

In [23]:
for i in range(len(df)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('df', ','.join(df.columns), tuple(df.iloc[i].values))
    
    
    insert_query=f"insert into df ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()