In [1]:
%pip install selenium
%pip install webdriver-manager
%pip install beautifulsoup4

Requirement already satisfied: selenium in c:\users\alima\anaconda3\lib\site-packages (4.1.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: trio~=0.17 in c:\users\alima\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\alima\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alima\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sniffio in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sortedcontainers in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\alima\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\alima\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\alima\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alima\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: webdriver-manager in c:\users\alima\anaconda3\lib\site-packages (3.5.4)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: requests in c:\users\alima\anaconda3\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.2)

Requirement already satisfied: beautifulsoup4 in c:\users\alima\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\alima\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install fake-useragent

Requirement already satisfied: fake-useragent in c:\users\alima\anaconda3\lib\site-packages (0.1.11)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from fake_useragent import UserAgent
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait as wait
from selenium.webdriver.support import expected_conditions as EC
import sys


usuario=UserAgent().random

print(usuario)

Mozilla/5.0 (Windows NT 6.2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/28.0.1467.0 Safari/537.36

In [4]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH)

opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False
opciones.add_argument('--start-maximized')
#opciones.add_argument('--incognito')
#opciones.add_extension('driver/adblock.crx')       # adblocker


#opciones.add_argument('user-data-dir=selenium') 
#opciones.add_argument('proxy-server=5.152.175.13.2:2580')

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/100.0.4896.60/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\alima\.wdm\drivers\chromedriver\win32\100.0.4896.60]
C:\Users\alima\AppData\Local\Temp/ipykernel_13256/4228707673.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)

In [5]:
import  csv
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options

import numpy as np
from random import randint
import requests as req
import pandas as pd
import time
from time import sleep
from bs4 import BeautifulSoup as bs

In [ ]:
url='https://www.coches.net/'

In [ ]:
PATH=ChromeDriverManager().install()

In [ ]:
URL='https://www.milanuncios.com/coches-de-segunda-mano/?fromSearch=1&orden=relevance&pagina='
driver=webdriver.Chrome(PATH, options=opciones)
   

    
    

#driver.implicitly_wait(10)
#wait = WebDriverWait(driver, 10)
#for i in range(200):
    

driver.get((URL+str(1)))




time.sleep(2)
cookies=driver.find_element_by_xpath('//*[@id="app"]/div[2]/div[1]/div/div/div/footer/div/button[2]')
cookies.click()
#time.sleep(2)
#driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')
#wait.until(EC.visibility_of_element_located((By.CSS_SELECTOR, ".ma-ButtonBasic--primary > span:nth-child(i)")))



main=driver.find_element(By.TAG_NAME,'main')
coche=main.find_elements_by_class_name('ma-AdCardV2-upperGroup')

data=[]
for e in coche:
    data.append(e.text.split('\n'))

In [ ]:
cars=pd.DataFrame(data)
cars

In [ ]:
 # tres paginas


def linkedin(pages):

    

    data=[]
    pages=np.arange(1,54,1)

    for i in pages:

        page=(URL+str(i))

        html=req.get(page).content   # el html

        sopa=bs(html, 'html.parser')
        main=sopa.find('main')

        for oferta in main.find_all(class_='ma-AdCardV2-upperGroup'):

                # bucle para las ofertas
                modelo=oferta.find('h2').text.strip()   #modelo

                precio=oferta.find('span', class_="ma-AdPrice-value ma-AdPrice-value--dark ma-AdPrice-value--heading--s").text.strip()   # precio

                link=oferta.find('a', class_="ma-AdCardListingV2-TitleLink").attrs['href']  # link de la compañia

                #lugar=oferta.find('span', class_="job-search-card__location").text.strip()  # lugar

                #link_ofer=oferta.find('a', class_="base-card__full-link").attrs['href']   # link de la oferta

                #fecha=oferta.find('time').attrs['datetime']       # fecha de publicacion



                data.append({
                    'modelo': modelo,
                    'name': precio,
                    'link de la oferta': link,
                    #'location': lugar,
                    #'link de la oferta': link_ofer,
                    #'datetime': fecha
                })
                
        return pd.DataFrame(data)

In [ ]:
linkedin(np.arange(1,4,1))

In [ ]:
df=pd.DataFrame(lst)
df.head()

In [ ]:
#texto=driver.find_element_by_xpath('/html/body/main/div/input')
#texto.send_keys('the boys diabolico')
#texto.send_keys(u'\ue007')

In [ ]:
driver.quit()

In [ ]:
driver=webdriver.Chrome(PATH, options=opciones)
   

    
    
#pages = np.arange(1, 200, 1)
data=[]


    
page=URL+str(2)

driver.get(page)

sleep(randint(2,5))




#wait.until(EC.visibility_of_element_located((By.CSS_SELECTOR, (".ma-LayoutBasicFooter-paper > div:nth-child(1) > img:nth-child(3)").replace(' ','.'))))
#FUNCIONA SIN EL BUCLE, PILLAMOS SOLO DE UNA PAGINA


main=driver.find_element(By.TAG_NAME,'main')
coche=main.find_elements_by_class_name('ma-AdCardV2-upperGroup')

dato=[]
for e in coche:
    dato.append(e.text.split('\n'))

In [ ]:
g=pd.DataFrame(dato)
g.head()
g.shape

In [ ]:
driver=webdriver.Chrome(PATH, options=opciones)

#for page in range(1,2):
url=URL+str(1)
driver.get(url)

WebDriverWait(driver, 10).until_not(EC.presence_of_element_located((By.XPATH, ('//*[@id="app"]/div[2]/div[3]/div[1]/div[2]/div[3]/div[1]/main/div[2]/article[31]/div/div'))))
dato=[]
for i in range(1,5):    
    coche=driver.find_element_by_xpath('//*[@id="app"]/div[2]/div[3]/div[1]/div[2]/div[3]/div[1]/main/div[2]/article['+str(i)+']/div/div')
    dato.append(coche.text.split('\n'))
dato

## COCHES.com

In [ ]:
url3='https://www.coches.com/coches-segunda-mano/coches-ocasion.htm?page=4'

In [ ]:
data=[]
html=req.get(url3).content 
sopa=bs(html, 'html.parser')

main=sopa.find(id='vo-results')
for oferta in sopa.find(id='vo-results'):
    modelo=main.find(class_='make-model-version').text
    precio=main.find(class_='price').text
    data.append({'precio':precio, 'modelo':modelo})

In [ ]:
pages = np.arange(1, 200, 1)
data=[]

for page in pages:
    
    page='https://www.coches.com/coches-segunda-mano/coches-ocasion.htm?page=' + str(page) 
    driver=webdriver.Chrome(PATH, options=opciones)
    driver.get(page)
    sleep(randint(1,2))
    cookies=driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
    cookies.click()
    sleep(randint(2,10))
    soup = bs(driver.page_source, 'html.parser')
    my_table = soup.find_all(class_=['make-model-version', 'price','gas','cv','km','location','year'])

    for tag in my_table:
        data.append(tag.get_text().split('\n')

In [ ]:
precio=data[0::7]
Modelo=data[1::7]
combustible=data[2::7]
CV=data[3::7]
km=data[4:27860:7]
Lugar=data[5:27860:7]
año=data[6:27860:7]

coches.com=pd.DataFrame(precio)

coches.com['Modelo']=Modelo
coches.com['combustible']=combustible
coches.com['CV']=CV
coches.com['km']=km
coches.com['Lugar']=Lugar
coches.com['año']=año
coches.com

In [ ]:
data=[]


main=driver.find_element_by_xpath('//*[@id="vo-results"]/div[7]')
for i in range(2,24):
    coche=driver.find_element_by_xpath('//*[@id="vo-results"]/div[7]/div['+str(i)+']').text.split('\n')
    data.append(coche)


com=pd.DataFrame(data)

In [ ]:
com['combustible']=0
com['CV']=0
com

In [30]:
def cochescom(pages):     
        pages = np.arange(1, 100, 1)
        data=[]
        model=[]
        price=[]
        gas=[]
        horse=[]
        dis=[]
        place=[]
        year=[]
        li=[]

        for page in pages:

            page='https://www.coches.com/coches-segunda-mano/coches-ocasion.htm?page=' + str(page) 
            driver=webdriver.Chrome(PATH, options=opciones)
            driver.get(page)
            sleep(randint(1,2))
            cookies=driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
            cookies.click()
            sleep(randint(2,10))
            soup = bs(driver.page_source, 'html.parser')

            modelo =[e.text.split('\n') for e in soup.find_all(class_='make-model-version')]
            precio=[i.text.split('\n') for i in soup.find_all(class_='price')]
            combustible=[c.text.split('\n') for c in soup.find_all(class_='gas')]
            CV=[cv.text.split('\n') for cv in soup.find_all(class_='cv')]
            km=[km.text.split('\n') for km in soup.find_all(class_='km')]
            lugar=[l.text.split('\n') for l in soup.find_all(class_='location')]
            año=[a.text.split('\n') for a in soup.find_all(class_='year')]
            link=[li.find('a').attrs['href'] for li in soup.find_all(class_='pill-information')]
            
            model.append(modelo)
            price.append(precio)
            gas.append(combustible)
            horse.append(CV)
            dis.append(km)
            place.append(lugar)
            year.append(año)
            li.append(link)

            flat_list_modelo = [item for modelo in model for item in modelo]
            flat_list_precio = [item for precio in price for item in precio]
            flat_list_gas = [item for combustible in gas for item in combustible]
            flat_list_cv = [item for CV in horse for item in CV]
            flat_list_km = [item for km in dis for item in km]
            flat_list_lugar = [item for lugar in place for item in lugar]
            flat_list_año = [item for año in year for item in año]
            flat_list_link = [item for link in li for item in link]


            coches=pd.DataFrame(flat_list_modelo)
            
            coches['precio']=flat_list_precio
            coches['combustible']=flat_list_gas
            coches['CV']=flat_list_cv
            coches['km']=flat_list_km
            coches['lugar']=flat_list_lugar
            coches['año']=flat_list_año
            coches['link']=flat_list_link
            coches
            
        
        
        return coches

In [31]:
coches=cochescom(100)

C:\Users\alima\AppData\Local\Temp/ipykernel_13256/2070866326.py:16: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)
C:\Users\alima\AppData\Local\Temp/ipykernel_13256/2070866326.py:19: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  cookies=driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')

In [44]:
coches

,0,1,2,precio,combustible,CV,km,lugar,año,link
0,Cupra Formentor,None,None,[27.990 €],[ 1.5 TSI 150],[ Gasolina],"[, , Zaragoza, ...","[, , 2021, ...","[, 20.000 km, ]",https://www.coches.com/coches-segunda-mano/oca...
1,Hyundai Coupé,None,None,[5.500 €],[ 1.6 GK],[ Gasolina],"[, , Barcelona, ...","[, , 2009, ...","[, 117.000 km, ]",https://www.coches.com/coches-segunda-mano/oca...
2,Volkswagen Multiv…,None,None,[53.500 €],[Multivan 1.4 TSI PHEV Batalla Corta Origin DS...,[ Híbrido],"[, , Madrid, ...","[, , 2022, ...","[, 0 km, ]",https://www.coches.com/km0/seminuevo-volkswage...
3,Volkswagen T-Roc,None,None,[23.900 €],[ 1.5 TSI Sport],[ Gasolina],"[, , Granada, ...","[, , 2018, ...","[, 43.868 km, ]",https://www.coches.com/coches-segunda-mano/oca...
4,Renault Mégane,None,None,[1.350 €],[ 1.4 Pack Authentique],[ Gasolina],"[, , Madrid, ...","[, , 2007, ...","[, 252.000 km, ]",https://www.coches.com/coches-segunda-mano/oca...
...,...,...,...,...,...,...,...,...,...,...
1975,,Infiniti Q30 1.6tc Premium 7DCT,,[15.900 €],[ Gasolina],[ 156 cv],"[, 66.053 km, ]","[, , Madrid, ]","[, , 2016, ]",https://www.coches.com/coches-segunda-mano/oca...
1976,,Abarth 595 Abarth 1.4T-Jet,,[16.300 €],[ Gasolina],[ 145 cv],"[, 12.000 km, ]","[, , Madrid, ]","[, , 2019, ]",https://www.coches.com/coches-segunda-mano/oca...
1977,,Mercedes Citan Tourer 110CDI ...,,[19.000 €],[ Diesel],[ 95 cv],"[, 0 km, ]","[, , Alicante, ]","[, , 2022, ]",https://www.coches.com/km0/seminuevo-mercedes-...
1978,,Cupra Formentor 1.5 TSI 150,,[28.117 €],[ Gasolina],[ 150 cv],"[, 3.216 km, ]","[, , Madrid, ]","[, , 2021, ]",https://www.coches.com/km0/seminuevo-cupra-for...
1979,,Mazda CX-30 2.0 Skyactiv-X,,[25.700 €],[ Gasolina],[ 186 cv],"[, 50 km, ]","[, , Ourense, ]","[, , 2022, ]",https://www.coches.com/km0/seminuevo-mazda-cx-...

In [ ]:
cursor.execute('drop table if exists coches;')



tabla='''

        create table coches (
            
            
            modelo varchar(200),
            precio varchar(200),
            description varchar(200),
            release_year int,
            language_id int,
            rental_duration int,
            rental_rate float,
             length int,
              replacement_cost float,
               rating varchar(50),
                special_features varchar(200)
            caracteristicas varchar(200)

            
        );

'''


cursor.execute(tabla)

In [ ]:
for i in range(len(coches)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('coches', ','.join(coches.columns), tuple(coches.iloc[i].values))
    
    
    insert_query=f"insert into coches ({','.join(coches.columns)}) values {tuple(coches.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()

In [ ]:
pages = np.arange(1, 2, 1)
data=[]
model=[]
price=[]
gas=[]
horse=[]
dis=[]
place=[]
year=[]
li=[]

for page in pages:

    page='https://www.coches.com/coches-segunda-mano/coches-ocasion.htm?page=' + str(page) 
    driver=webdriver.Chrome(PATH, options=opciones)
    driver.get(page)
    sleep(randint(1,2))
    cookies=driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
    cookies.click()
    sleep(randint(2,10))
    soup = bs(driver.page_source, 'html.parser')

    modelo =[e.text.strip().split('\n') for e in soup.find_all(class_='make-model-version')]
    precio=[i.text.strip().split('\n') for i in soup.find_all(class_='price')]
    combustible=[c.text.strip().split('\n') for c in soup.find_all(class_='gas')]
    CV=[cv.text.strip().split('\n') for cv in soup.find_all(class_='cv')]
    km=[km.text.strip().split('\n') for km in soup.find_all(class_='km')]
    lugar=[" ".join(l.text.strip().split('\n')) for l in soup.find_all(class_='location')]
    año=[" ".join(a.text.strip().split('\n')) for a in soup.find_all(class_='year')]
    link=[li.find('a').attrs['href'] for li in soup.find_all(class_='pill-information')]

    model.append(modelo)
    price.append(precio)
    gas.append(combustible)
    horse.append(CV)
    dis.append(km)
    place.append(lugar)
    year.append(año)
    li.append(link)
    
    flat_list_modelo = [item for modelo in model for item in modelo]
    flat_list_precio = [item for precio in price for item in precio]
    flat_list_gas = [item for combustible in gas for item in combustible]
    flat_list_cv = [item for CV in horse for item in CV]
    flat_list_km = [item for km in dis for item in km]
    flat_list_lugar = [item for lugar in place for item in lugar]
    flat_list_año = [item for año in year for item in año]
    flat_list_link = [item for link in li for item in link]
    
    
    coches=pd.DataFrame(flat_list_modelo)
    #coches['0']=coches['modelo']
    coches['precio']=flat_list_precio
    coches['combustible']=flat_list_gas
    coches['CV']=flat_list_cv
    coches['km']=flat_list_km
    coches['lugar']=flat_list_lugar
    coches['año']=flat_list_año
    coches['link']=flat_list_link
    coches

In [ ]:

coches

## KAGGLE

In [40]:
import csv

In [42]:
#ith open(r'/data/coches-de-segunda-mano-sample.csv', newline='') as csvfile:
kaggle = pd.read_csv (r'data\coches-de-segunda-mano-sample.csv')
kaggle= pd.DataFrame(kaggle, columns= ['url','company','make','model','version','price','price_financed','fuel','year','doors','shift','color','photos','is_professional','dealer','province','country','publish_date','insert_date'])

In [56]:
kaggle

,url,company,make,model,version,price,price_financed,fuel,year,doors,shift,color,photos,is_professional,dealer,province,country,publish_date,insert_date
0,e158ae0ca53119ca199c28c36b5c2fcd,9881bcdd5a0ad4733037b3fb25e69c3a,SEAT,Toledo,SEAT Toledo 4p.,950,Unknown,Diésel,2000.0,4,Manual,Verde,5,False,0f4bb8455d27349b8273109b66a847f3,Navarra,Spain,2020-12-18 10:47:13,2021-01-15 00:00:00
1,ff267ebb7e700246f47f84f3db660b4b,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C1,CITROEN C1 PureTech 60KW 82CV Feel 5p.,6200,Unknown,Gasolina,2017.0,5,Manual,Blanco,6,True,Autos Raymara,Tenerife,Spain,2021-01-02 11:25:40,2021-01-15 00:00:00
2,de4b02db28ea7786c622b969be10c7c7,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit Connect,FORD Transit Connect Van 1.5 TDCi 100cv Ambien...,7851,7024.0,Diésel,2016.0,4,Manual,Blanco,10,True,Auto 96,Barcelona,Spain,2020-12-16 10:51:45,2021-01-15 00:00:00
3,0449972a4d07594acf92e9a7dd28b39c,9881bcdd5a0ad4733037b3fb25e69c3a,VOLKSWAGEN,Caravelle,VOLKSWAGEN Caravelle Largo 2.0 TDI 140 Comfort...,19426,Unknown,Diésel,2014.0,4,Manual,Blanco,9,True,Inniauto,Navarra,Spain,2020-11-25 11:09:14,2021-01-15 00:00:00
4,12c4fa49bd4fdf23f19ecf396d3f02ef,9881bcdd5a0ad4733037b3fb25e69c3a,FORD,Transit,FORD Transit 350 96kW L4 Ambiente Propulsion T...,22850,22800.0,Diésel,2017.0,2,Manual,Blanco,4,True,"Autofleet España,s.l",Sevilla,Spain,2021-01-12 20:00:34,2021-01-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,730210734bfbe1d3df878d5df71246f2,9881bcdd5a0ad4733037b3fb25e69c3a,HYUNDAI,i30,HYUNDAI i30 1.4 TGDI Tecno Fastback DCT 5p.,18490,16490.0,Gasolina,2018.0,5,Automático,Gris / Plata,26,True,Flexicar Málaga,Málaga,Spain,2020-11-24 19:59:52,2021-01-15 00:00:00
49996,732b04fb47dd9559dbdcd099c5af484e,9881bcdd5a0ad4733037b3fb25e69c3a,RENAULT,Laguna,RENAULT Laguna Coupe Limited 2.0 Energy dCi 15...,14500,13551.0,Diésel,2015.0,2,Manual,KNG Gris Casiopea (metalizado),30,True,Ocasion Plus,Málaga,Spain,2021-01-13 17:02:41,2021-01-15 00:00:00
49997,c10afb53957fb8012707239bdfa66018,9881bcdd5a0ad4733037b3fb25e69c3a,PEUGEOT,108,PEUGEOT 108 TOP Allure VTi 52kW 72CV 5p.,11000,9000.0,Gasolina,2019.0,5,Manual,Gris / Plata,17,True,Psa Retail Huelva,Huelva,Spain,2021-01-08 16:47:24,2021-01-15 00:00:00
49998,f74363a6688ba11b71b4d980a959b8d3,9881bcdd5a0ad4733037b3fb25e69c3a,AUDI,RS4,AUDI RS4 Avant 4.2 FSI 450cv quattro 5p.,47900,Unknown,Gasolina,2013.0,5,Automático,Gris / Plata (Antracita),20,True,Codigocar Lugo,Lugo,Spain,2021-01-13 16:22:53,2021-01-15 00:00:00
49999,3d60801ccb96ef038747130e8a34ceda,9881bcdd5a0ad4733037b3fb25e69c3a,CITROEN,C2,CITROEN C2 1.4 HDI VTR Plus 3p.,2790,Unknown,Diésel,2006.0,3,Manual,Negro,21,True,AUTOVALENCIA 19,Barcelona,Spain,2021-01-10 16:32:41,2021-01-15 00:00:00

In [61]:
cursor.execute('drop table if exists kaggle;')



tabla='''

        create table kaggle (
            
            
            
            url varchar(200),
            company varchar(200),
            make varchar(200),
            model varchar(200),
            version varchar(200),
            
            price int,
            price_financed varchar(50),
            doors int,
            
               fuel varchar(50),
               year float,
               shift varchar(50),
               color varchar(200),
               
               photos int,
               is_professional bool,
                dealer varchar(200),
            province varchar(200),
            country varchar(200),
            publish_date datetime,
             insert_date datetime

            
        );

'''


cursor.execute(tabla)

In [62]:
for i in range(len(kaggle)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('kaggle', ','.join(kaggle.columns), tuple(kaggle.iloc[i].values))
    
    
    insert_query=f"insert into kaggle ({','.join(kaggle.columns)}) values {tuple(kaggle.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()

DatabaseError: 1265 (01000): Data truncated for column 'year' at row 1

## WALLAPOP

In [9]:
url2='https://es.wallapop.com/app/search?category_ids=100&filters_source=seo_landing&longitude=-3.69196&latitude=40.41956'

In [ ]:
pages = np.arange(1, 2, 1)
data=[]
model=[]
price=[]
gas=[]
horse=[]
dis=[]
place=[]
year=[]
li=[]



page=url2  
driver=webdriver.Chrome(PATH, options=opciones)
driver.get(page)
sleep(randint(1,2))
cookies=driver.find_element_by_xpath('//*[@id="didomi-notice-agree-button"]')
cookies.click()
sleep(randint(2,10))
roll=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[4]/div[1]/div/div/form/input')
roll.click()
driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')

soup = bs(driver.page_source, 'html.parser')

modelo =[e.text.strip().split('\n') for e in soup.find_all(class_='product-info-title')]
precio=[i.text.strip().split('\n') for i in soup.find_all(class_='product-info-price')]
combustible=[c.text.strip().split('\n') for c in soup.find_all(class_='card-info')]
CV=[cv.text.strip().split('\n') for cv in soup.find_all(class_='cv')]
km=[km.text.strip().split('\n') for km in soup.find_all(class_='km')]
lugar=[l.text.strip().split('\n') for l in soup.find_all(class_='location')]
año=[a.text.strip().split('\n') for a in soup.find_all(class_='year')]
link=[li.find('a').attrs['href'] for li in soup.find_all(class_='pill-information')]

model.append(modelo)
price.append(precio)
gas.append(combustible)
horse.append(CV)
dis.append(km)
place.append(lugar)
year.append(año)
li.append(link)

flat_list_modelo = [item for modelo in model for item in modelo]
flat_list_precio = [item for precio in price for item in precio]
flat_list_gas = [item for combustible in gas for item in combustible]
flat_list_cv = [item for CV in horse for item in CV]
flat_list_km = [item for km in dis for item in km]
flat_list_lugar = [item for lugar in place for item in lugar]
flat_list_año = [item for año in year for item in año]
flat_list_link = [item for link in li for item in link]


coches=pd.DataFrame(flat_list_modelo)
#coches['0']=coches['modelo']
coches['precio']=flat_list_precio
coches['combustible']=flat_list_gas
coches['CV']=flat_list_cv
coches['km']=flat_list_km
coches['lugar']=flat_list_lugar
coches['año']=flat_list_año
coches['link']=flat_list_link
coches

In [ ]:
wallapop(url2)

In [10]:
def wallapop(url2):
    
    url2='https://es.wallapop.com/app/search?category_ids=100&filters_source=seo_landing&longitude=-3.69196&latitude=40.41956'  
    driver=webdriver.Chrome(PATH, options=opciones)
    driver.get(url2)
    sleep(randint(1,2))
    cookies=driver.find_element_by_xpath('//*[@id="didomi-notice-agree-button"]')
    cookies.click()
    sleep(randint(2,10))
    roll=driver.find_element_by_xpath('//*[@id="btn-load-more"]/button')
    roll.click()
    def run_script():
    
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    count = 0
    while count < 80:
        run_script()
        count+=1
        time.sleep(2)

    soup = bs(driver.page_source, 'html.parser')

    modelo =[e.text.strip().split('\n') for e in soup.find_all(class_='ItemCardWide__title d-inline-block text-truncate w-100')]
    precio=[" ".join(i.text.strip().split('\n')) for i in soup.find_all(class_='ItemCardWide__price ItemCardWide__price--bold')]
    combustible=[" ".join(c.text.split('\n')) for c in soup.find_all(class_='ItemExtraInfo d-flex')]
    
    df=pd.DataFrame(modelo)
    df['precio']=precio
    df['caracteristicas']=combustible
    df.rename(columns={0: "modelo"}, inplace=True)
    
    
    return df

In [11]:
#Separar combustible por el espacio y coger por elementos dentro del string para obtener las caracteristicas

In [12]:
df=wallapop(url2)
df

C:\Users\alima\AppData\Local\Temp/ipykernel_13256/357517729.py:4: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)
C:\Users\alima\AppData\Local\Temp/ipykernel_13256/357517729.py:7: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  cookies=driver.find_element_by_xpath('//*[@id="didomi-notice-agree-button"]')
C:\Users\alima\AppData\Local\Temp/ipykernel_13256/357517729.py:10: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  roll=driver.find_element_by_xpath('//*[@id="btn-load-more"]/button')

,modelo,precio,caracteristicas
0,BMW Serie 1 2014,12.995€,GasolinaManual136 cv201493034 km
1,SEAT Leon 1.5 TSI SANDS FR 110 kW (150 CV),22.250€,GasolinaManual150 cv202130124 km
2,BMW Serie 1 118d 110 kW (150 CV),21.720€,DiéselAutomático150 cv201838474 km
3,SEAT Leon ST 2.0 TDI Style Launch P Nav DSG 11...,22.250€,DiéselAutomático150 cv202023170 km
4,Audi A6 2014,14.500€,DiéselAutomático177 cv2014158000 km
...,...,...,...
3231,Mitsubishi Eclipse CROSS 150T Motion,22.990€,GasolinaManual163 cv201958000 km
3232,Citroen C4 Cactus 1.6 BlueHDI Shine 73 kW (100...,13.900€,DiéselManual100 cv201559326 km
3233,Ford Tourneo Connect 1.5TDCi 100CV Trend,17.490€,DiéselManual100 cv201795000 km
3234,Renault Captur Life dCi 66 kW (90 CV),14.200€,DiéselManual90 cv2018100835 km
3235,Volkswagen Caddy Kombi 2.0 TDI SCR BMT 4Motion...,16.100€,DiéselManual122 cv201574510 km

In [13]:
!pip install mysql-connector-python


import mysql.connector as conn

Requirement already satisfied: mysql-connector-python in c:\users\alima\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\alima\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.0)

In [ ]:
df

In [17]:
crea_db=conn.connect(host='localhost', user='adri', passwd='password')

cursor=crea_db.cursor()

cursor.execute('drop database if exists scrapeo;')
cursor.execute('create database scrapeo;')

db=conn.connect(host='localhost', user='adri', passwd='password', database='scrapeo')

cursor=db.cursor()

In [22]:


cursor.execute('drop table if exists df;')



tabla='''

        create table df (
            
            
            modelo varchar(200),
            precio varchar(200),
            
            caracteristicas varchar(200)

            
        );

'''


cursor.execute(tabla)

In [23]:
for i in range(len(df)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('df', ','.join(df.columns), tuple(df.iloc[i].values))
    
    
    insert_query=f"insert into df ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()